<!DOCTYPE html>
<html lang="en" th:replace="fragments/layout :: layout(body=~{::body}, title='Create set', script=~{::script})">

<body>
  <div class="container">
    <h1 class="mt-5">Create flashcard set</h1>

    <form action="post" id="create-set-form" th:action="@{/sets/create}">
      <div class="form-group mt-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" th:value="${set != null ? set.name : ''}">
      </div>

      <div class="form-group mt-3">
        <label class="form-label" for="description">Description</label>
        <input class="form-control" type="text" id="description" name="description"
               th:value="${set != null ? set.description : ''}">
      </div>

      <h2 class="mt-5">Flashcards</h2>
      <div class="row ms-4 ps-2" id="flashcard-list">
        <!--    Card in new set    -->
        <div class="col-6 row px-4" th:if="${set == null}">
          <div class="mt-1 d-flex flex-row-reverse">
            <button type="button" class="btn btn-sm btn-dark fa fa-x remove-card-btn"></button>
          </div>
          <div class="row rounded-2 border border-2 p-0 m-0" style="border-color: rgb(101, 203, 178) !important;">
            <div class="card col me-0" style="height: 15rem;">
              <label class="h-100 mt-3 mx-2">
                Front
                <textarea class="form-control h-75 mt-2" name="back"></textarea>
              </label>
            </div>
            <div class="card col ms-0" style="height: 15rem;">
              <label class="h-100 mt-3 mx-2">
                Back
                <textarea class="form-control h-75 mt-2" name="back"></textarea>
              </label>
            </div>
          </div>
        </div>

        <!--    Cards from edited set    -->
        <th:block th:if="${set != null}">
          <div class="col-6 row px-4 flashcard-in-set" th:each="flashcard : ${set.flashcardList}"
               th:id="${'flashcard-' + flashcard.id}" unchanged>
            <div class="mt-1 d-flex flex-row-reverse">
              <button type="button" class="btn btn-sm btn-dark fa fa-x remove-card-btn"></button>
            </div>
            <div class="row rounded-2 border border-2 p-0 m-0" style="border-color: rgb(101, 203, 178) !important;">
              <div class="card col me-0" style="height: 15rem;">
                <label class="h-100 mt-3 mx-2">
                  Front
                  <textarea class="form-control h-75 mt-2" name="back" th:text="${flashcard.front}"></textarea>
                </label>
              </div>
              <div class="card col ms-0" style="height: 15rem;">
                <label class="h-100 mt-3 mx-2">
                  Back
                  <textarea class="form-control h-75 mt-2" name="back" th:text="${flashcard.back}"></textarea>
                </label>
              </div>
            </div>
          </div>
        </th:block>

        <div class="col-3 row mt-4 pt-2">
          <div class="col-8 offset-2 d-flex justify-content-center align-items-center" style="height: 15rem;">
            <div class="">
              <button class="btn btn-lg btn-own-primary mx-auto pt-3" id="add-flashcard-btn" type="button">
                <span class="fa fa-plus"></span>
                <p>Add flashcard</p>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5 pt-3 justify-content-center">
        <button th:classappend="${set != null ? 'col-3' : 'col-4'}" class="btn btn-own-primary mx-5" style="height: 4rem;"
                type="button" id="submit-btn">
          Create
        </button>
        <button th:if="${set != null}" class="btn col-3 btn-danger mx-5" style="height: 4rem; opacity: 90%;" type="button"
                id="delete-set-btn">
          Delete
        </button>
      </div>
    </form>
  </div>
</body>

<script th:inline="javascript">
  let setId = /*[[${set?.id}]]*/ '';
  let isEdit = setId != null;
  let deletedFlashcardsIds = [];
  let flashcardIdPrefix = 'flashcard-'.length;

  init();
  function init() {
    initRemoveCardButton();
    initAddCardButton();
    initSubmitButton();

    if (isEdit) {
      initFlashcardChange();
      initDeleteSetBtn();
    }
  }

  function initRemoveCardButton() {
    let removeCardButtonList = $('.remove-card-btn');
    for (let removeButton of removeCardButtonList) {
      let card = removeButton.parentElement.parentElement;
      removeButton.onclick = function() {
        let cardId = parseInt( card.id?.substring(flashcardIdPrefix) );
        deletedFlashcardsIds.push( cardId );
        card.remove();
      }
    }
  }


  function initAddCardButton() {
    let addCardBtn = $('#add-flashcard-btn')[0];
    addCardBtn.onclick = create_flashcard;
  }

  function create_flashcard() {
    let divMain = document.createElement('div');
    divMain.className = 'col-6 row px-4';

    let divWithBtn = document.createElement('div');
    divWithBtn.className = 'mt-1 d-flex flex-row-reverse';

    let removeBtn = document.createElement('button');
    removeBtn.type = 'button';
    removeBtn.className = 'btn btn-sm btn-dark fa fa-x remove-card-btn';
    removeBtn.onclick = function() {
      divMain.remove();
    }

    let divWithCard = document.createElement('div');
    divWithCard.className = 'row rounded-2 border border-2 p-0 m-0';
    divWithCard.style.setProperty('border-color', 'rgb(101, 203, 178)', 'important');
    divWithCard.innerHTML = '<div class="card col me-0" style="height: 15rem;">\n' +
            '              <label class="h-100 mt-3 mx-2">\n' +
            '                Front\n' +
            '                <textarea class="form-control h-75 mt-2" name="back"></textarea>\n' +
            '              </label>\n' +
            '            </div>\n' +
            '            <div class="card col ms-0" style="height: 15rem;">\n' +
            '              <label class="h-100 mt-3 mx-2">\n' +
            '                Back\n' +
            '                <textarea class="form-control h-75 mt-2" name="back"></textarea>\n' +
            '              </label>\n' +
            '            </div>';

    divMain.appendChild(divWithBtn);
    divMain.appendChild(divWithCard);

    divWithBtn.appendChild(removeBtn);

    let flashcardList = $('#flashcard-list')[0];
    let addCardBtn = flashcardList.children[flashcardList.children.length - 1];
    flashcardList.insertBefore(divMain, addCardBtn);
  }


  function initSubmitButton() {
    let submitBtn = $('#submit-btn')[0];
    // new set
    if (!isEdit) {
      submitBtn.onclick = function() {
        let url = origin + '/sets/create';
        let payload = newSetToJson();
        console.log(payload);

        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(payload)
        })
                .then(res => {
                  if (res.status == 200) {
                    location.href = res.url;
                  }
                });
      }
    }
    // edit set
    else {
      submitBtn.onclick = function() {
        let url = origin + '/api/v1/your-sets';
        let payload = editSetToJson();
        console.log(payload);

        fetch(url, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(payload)
        })
                .then(res => {
                  return res.text();
                })
                .then(res => {
                  console.log(res);
                })
      }
    }
  }

  function newSetToJson() {
    let payload = {};

    let name = getName();
    let description = getDescription();
    let flashcardList = getFlashcardList();
    payload['name'] = name;
    payload['description'] = description;
    payload['flashcardList'] = flashcardList;

    return payload;
  }

  function editSetToJson() {
    let payload = {};

    let name = getName();
    let description = getDescription();
    let flashcardChangeList = getFlashcardChangeList();
    payload['id'] = setId;
    payload['name'] = name;
    payload['description'] = description;
    payload['flashcardChangeList'] = flashcardChangeList;

    return payload;
  }

  function getName() {
    let input = $('input[name=name]')[0];
    return input.value;
  }

  function getDescription() {
    let input = $('input[name=description]')[0];
    return input.value;
  }

  function getFlashcardList() {
    let objList = [];

    let htmlList = $('#flashcard-list')[0].children;
    for (let i = 0; i < htmlList.length - 1; i++) {
      let div = htmlList[i];
      let frontDiv = div.children[1].children[0];
      let frontValue = frontDiv.children[0].children[0].value;
      let backDiv = div.children[1].children[1];
      let backValue = backDiv.children[0].children[0].value;

      let flashcard = {front: frontValue, back: backValue};
      objList.push(flashcard);
    }

    return objList;
  }

  function getFlashcardChangeList() {
    let objList = [];
    addNewOrEditedFlashcards();
    addDeletedFlashcards();

    return objList;


    function addNewOrEditedFlashcards() {
      let htmlList = $('#flashcard-list')[0].children;
      for (let i = 0; i < htmlList.length - 1; i++) {
        let div = htmlList[i];
        if (div.hasAttribute('unchanged'))
          continue;

        let id = div.id == '' ? null : div.id.substring(flashcardIdPrefix);
        let frontDiv = div.children[1].children[0];
        let frontValue = frontDiv.children[0].children[0].value;
        let backDiv = div.children[1].children[1];
        let backValue = backDiv.children[0].children[0].value;

        let flashcardChange = {id: id, body: {front: frontValue, back: backValue}};
        objList.push(flashcardChange);
      }
    }

    function addDeletedFlashcards() {
      for (let deletedId of deletedFlashcardsIds) {
        let flashcardChange = {id: deletedId};
        objList.push( flashcardChange );
      }
    }
  }

  function initFlashcardChange() {
    if (!isEdit) {
      return;
    }

    let flashcardDivs = $('.flashcard-in-set');
    for (let flashcard of flashcardDivs) {
      let frontInput = flashcard.children[1].children[0].children[0].children[0];
      let backInput = flashcard.children[1].children[1].children[0].children[0];

      frontInput.onchange = () => flashcard.removeAttribute('unchanged');
      backInput.onchange = () => flashcard.removeAttribute('unchanged');
    }
  }

  function initDeleteSetBtn() {
    let deleteBtn = $('#delete-set-btn')[0];
    deleteBtn.onclick = function() {
      let url = origin + '/api/v1/your-sets/' + setId;
      fetch(url, {
        method: 'DELETE'
      })
              .then(res => {
                if (res.status == 200) {
                  location.href = origin + '/profile?selected=sets';
                }
              })
    }
  }

</script>

</html>