<!DOCTYPE html>
<html lang="en" th:replace="fragments/layout :: layout(body=~{::body}, title='Create set', script=~{::script})">

<body>
  <div class="container">
    <h1 class="mt-5">Create flashcard set</h1>

    <form action="post" id="create-set-form" th:action="@{/sets/create}">
      <div class="form-group mt-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name">
      </div>

      <div class="form-group mt-3">
        <label class="form-label" for="description">Description</label>
        <input class="form-control" type="text" id="description" name="description">
      </div>

      <h2 class="mt-5">Flashcards</h2>
      <div class="row ms-4 ps-2" id="flashcard-list">
        <div class="col-6 row px-4">
          <div class="mt-1 d-flex flex-row-reverse">
            <button type="button" class="btn btn-sm btn-dark fa fa-x remove-card-btn"></button>
          </div>
          <div class="row rounded-2 border border-2 p-0 m-0" style="border-color: rgb(101, 203, 178) !important;">
            <div class="card col me-0" style="height: 15rem;">
              <label class="h-100 mt-3 mx-2">
                Front
                <textarea class="form-control h-75 mt-2" name="back"></textarea>
              </label>
            </div>
            <div class="card col ms-0" style="height: 15rem;">
              <label class="h-100 mt-3 mx-2">
                Back
                <textarea class="form-control h-75 mt-2" name="back"></textarea>
              </label>
            </div>
          </div>
        </div>

        <div class="col-3 row mt-4 pt-2">
          <div class="col-8 offset-2 d-flex justify-content-center align-items-center" style="height: 15rem;">
            <div class="">
              <button class="btn btn-lg btn-own-primary mx-auto pt-3" id="add-flashcard-btn" type="button">
                <span class="fa fa-plus"></span>
                <p>Add flashcard</p>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <button class="btn col-4 offset-4 btn-own-primary" style="height: 4rem;" type="button" id="submit-btn">
          Create
        </button>
      </div>
    </form>
  </div>

  <style>
    .remove-card-btn {
      position: relative;
      top: 2.4rem;
      right: 0.1rem;
      z-index: 1;
    }
  </style>
</body>

<script>
  init();
  function init() {
    init_remove_card_button();
    init_add_card_button();
    init_submit_button();
  }

  function init_remove_card_button() {
    let removeCardButtonList = $('.remove-card-btn');
    for (let removeButton of removeCardButtonList) {
      console.log(removeButton);
      let card = removeButton.parentElement.parentElement;
      removeButton.onclick = function() {
        card.remove();
      }
    }
  }


  function init_add_card_button() {
    let addCardBtn = $('#add-flashcard-btn')[0];
    addCardBtn.onclick = create_flashcard;
  }

  function create_flashcard() {
    let divMain = document.createElement('div');
    divMain.className = 'col-6 row px-4';

    let divWithBtn = document.createElement('div');
    divWithBtn.className = 'mt-1 d-flex flex-row-reverse';

    let removeBtn = document.createElement('button');
    removeBtn.type = 'button';
    removeBtn.className = 'btn btn-sm btn-dark fa fa-x remove-card-btn';
    removeBtn.onclick = function() {
      divMain.remove();
    }

    let divWithCard = document.createElement('div');
    divWithCard.className = 'row rounded-2 border border-2 p-0 m-0';
    divWithCard.style.setProperty('border-color', 'rgb(101, 203, 178)', 'important');
    divWithCard.innerHTML = '<div class="card col me-0" style="height: 15rem;">\n' +
            '              <label class="h-100 mt-3 mx-2">\n' +
            '                Front\n' +
            '                <textarea class="form-control h-75 mt-2" name="back"></textarea>\n' +
            '              </label>\n' +
            '            </div>\n' +
            '            <div class="card col ms-0" style="height: 15rem;">\n' +
            '              <label class="h-100 mt-3 mx-2">\n' +
            '                Back\n' +
            '                <textarea class="form-control h-75 mt-2" name="back"></textarea>\n' +
            '              </label>\n' +
            '            </div>';

    divMain.appendChild(divWithBtn);
    divMain.appendChild(divWithCard);

    divWithBtn.appendChild(removeBtn);

    let flashcardList = $('#flashcard-list')[0];
    let addCardBtn = flashcardList.children[flashcardList.children.length - 1];
    flashcardList.insertBefore(divMain, addCardBtn);
  }


  function init_submit_button() {
    let submitBtn = $('#submit-btn')[0];
    submitBtn.onclick = function() {
      let url = $('#create-set-form')[0].action;
      let payload = form_to_json();
      console.log(payload);

      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
      .then(res => {
        if (res.status == 200) {
          location.href = res.url;
        }
      });
    }
  }

  function form_to_json() {
    let payload = {};

    let name = get_name();
    let description = get_description();
    let flashcardList = get_flashcardList();
    payload['name'] = name;
    payload['description'] = description;
    payload['flashcardList'] = flashcardList;

    return payload;


    function get_name() {
      let input = $('input[name=name]')[0];
      return input.value;
    }
    function get_description() {
      let input = $('input[name=description]')[0];
      return input.value;
    }
    function get_flashcardList() {
      let objList = [];

      let htmlList = $('#flashcard-list')[0].children;
      for (let i = 0; i < htmlList.length - 1; i++) {
        let div = htmlList[i];
        let frontDiv = div.children[1].children[0];
        let frontValue = frontDiv.children[0].children[0].value;
        let backDiv = div.children[1].children[1];
        let backValue = backDiv.children[0].children[0].value;

        let flashcard = {front: frontValue, back: backValue};
        objList.push(flashcard);
      }

      return objList;
    }
  }

</script>

</html>