<!DOCTYPE html>
<html lang="en" th:replace="fragments/layout :: layout(body=~{::body}, title='Register', script=~{::script})">
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Register</h1>

        <form class="border rounded-2 p-5" th:action="@{/register}" method="post">
            <div class="form-group mb-4">
                <label class="form-label" for="email">Email</label>
                <input required class="form-control" type="text" id="email" name="email">
            </div>

            <div class="form-group mb-4">
                <label class="form-label" for="username">Username</label>
                <input minlength="5" maxlength="20" required class="form-control" type="text" id="username" name="username">
            </div>

            <div class="form-group mb-4">
                <label class="form-label" for="password">Password</label>
                <input minlength="8" maxlength="30" required class="form-control" type="password" id="password" name="password">
            </div>

            <div class="form-group mb-4">
                <label class="form-label" for="password2">Repeat password</label>
                <input minlength="8" maxlength="30" required class="form-control" type="password" id="password2" name="password2">
            </div>

            <button id="registerBtn" class="btn btn-own-primary mt-3" type="submit">Register</button>
        </form>
    </div>
</body>

<script>
    init();
    function init() {
        initSubmitBtn();
    }

    function initSubmitBtn() {
        let submitBtn = $('#registerBtn')[0]
        submitBtn.onclick = (e) => {
            if (!arePasswordsEqual()) {
                e.preventDefault();
                console.log('diff');
            }
            else {
                deactivateRepeatPasswordInput();
            }
        };
    }

    function arePasswordsEqual() {
        let passwordInput = $('input[id=\'password\']')[0];
        let repeatInput = $('input[id=\'password2\']')[0];

        if (passwordInput.value != repeatInput.value) {
            console.log(repeatInput);
            repeatInput.setCustomValidity('Passwords are different!');
            return false;
        }
    }

    function deactivateRepeatPasswordInput() {
        let repeatInput = $('input[id=\'password2\']')[0];
        console.log(repeatInput);
        repeatInput.disabled = true;
    }

</script>
</html>