
.hover-dark:hover:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 3%;
    cursor: pointer;
}

#navbar {
    background: linear-gradient(90deg, rgb(104, 189, 138) 21%, rgb(101, 203, 178) 65%, rgb(130, 203, 186) 100%);
}

.z-index-1 {
    z-index: 1;
}

.bg-own-primary {
    background: linear-gradient(90deg, rgb(101, 183, 152) 21%, rgb(101, 203, 178) 50%, rgb(130, 203, 186) 100%) !important;
    color: white !important;
}

.btn-own-primary {
    background: linear-gradient(90deg, rgb(88, 194, 153) 21%, rgb(100, 201, 162) 50%, rgb(122, 217, 189) 100%) !important;
    color: white !important;

}

.btn-own-primary:hover {
    background: linear-gradient(90deg, rgb(111, 208, 174) 21%, rgb(122, 211, 180) 50%, rgb(133, 213, 192) 100%) !important;
}

.text-own-green {
    color: rgb(95, 185, 147) !important;
}

.flashcard-scene {
    perspective: 1000px;
}

.flashcard {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flashcard-side {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.flashcard-back {
    transform: rotateY( 180deg );
}
.flashcard-flipped {
    transform: rotateY(180deg);
}

.flashcard-to-be-removed-success {
    transform: translateX(-100vw) !important;
}

.flashcard-to-be-removed-fail {
    transform: translateX(100vw) !important;
}
